<h1><%= current_user.name %>'s tasks</h1>

<ul id="task-list">
  <%= render current_user.tasks.order(created_at: :desc) %>
</ul>

<h3>new task for <%= current_user.name %></h3>

<%= form_for @task do |form| %>
  <%= form.label :content %>
  <%= form.text_field :content %>
<%= form.submit %>
<% end %>